

<div class="container ">
  <div class="row justify-content">
      <div class="col-md-12">
        <div class="dropdown">
          <span id="category" class="btn btn-primary m-3">Category
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
              <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
            </svg>
          </span>
          <div class="dropdown-content">
            <p (click)="getAllProducts()" class="dropdown-item">All</p>
            <p (click)="filterByCategory('Books')" class="dropdown-item">Books</p>
            <p (click)="filterByCategory('Electronics')" class="dropdown-item">Electronics</p>
            <p (click)="filterByCategory('Fashion')" class="dropdown-item">Fashion</p>
            <p (click)="filterByCategory('Grocery')" class="dropdown-item">Grocery</p>
            <p (click)="filterByCategory('Home & Garden')" class="dropdown-item">Home & Garden</p>
            <p (click)="filterByCategory('Kitchen & Dining')" class="dropdown-item">Kitchen & Dining</p>
            <p (click)="filterByCategory('Sports & Outdoors')" class="dropdown-item">Sports & Outdoors</p>
            <p (click)="filterByCategory('Toys & Games')" class="dropdown-item">Toys & Games</p>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- <div class="container">
  <div class="flex-container">
      <div  *ngFor="let product of products" class="card m-3" (click)="selectProduct(product)">
          <div class="card-body p-3">
              <h5 class="card-title">{{product.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${{product.price}}</h6>
          </div>
      </div>
  </div>
</div> -->

<div class="d-flex justify-content-center">
  <div class="table-responsive pb-1 pt-2">
    <table datatable class="table table-bordered table-hover table-condensed table-responsive dtr-inline  ">
      <thead class="thead-light text-center">
        <tr>
          <th scope="col">No.</th>  
          <th scope="col">Username</th> 
          <th scope="col">First Name</th> 
          <th scope="col">Last Name</th> 
          <th scope="col">Email</th> 
          <th scope="col">Birth Date</th> 
          <th scope="col">Basic Salary</th> 
          <th scope="col">Status</th> 
          <th scope="col">Group</th> 
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody id="table" *ngIf="employees?.length != 0" >
        <tr  *ngFor="let employee of pagedEmployees; let i = index;">
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td> 
          <td class="text-center">{{ employee.username }}</td>  
          <td class="text-center">{{ employee.firstName }}</td> 
          <td class="text-center">{{ employee.lastName }}</td> 
          <td class="text-center">{{ employee.email }}</td> 
          <td class="text-center">{{ convertDateFormat(employee.birthDate) }}</td> 
          <td class="text-center">{{ employee.basicSalary }}</td> 
          <td class="text-center">{{ employee.status }}</td> 
          <td class="text-center">{{ employee.group }}</td> 
          <td class="text-center">{{ convertTime(employee.description) }}</td>
        </tr>
      </tbody>  
      <tbody *ngIf="pagedEmployees?.length == 0 ">
        <tr>
          <td colspan="10" class="no-data-available text-center">Data tidak ditemukan!</td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between">
      <div class="btn-group" role="group" >
        <button (click)="previousPage()" type="button" class="btn btn-primary">Prev</button>
        <button (click)="nextPage()" type="button" class="btn btn-primary">Next</button> 
      </div>
      <div class="d-flex flex-wrap gap-2">
        <div class="btn btn-secondary ">Page <span class="badge bg-light text-dark">{{currentPage}}</span></div>  
      </div>

    </div>
     
  </div>
  

</div>
  